<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>
<form action="#" th:action="@{/admin/update-user}" th:object="${user}" method="post">
    <label for="id">Id</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="Id">
    <br/>
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name">
    <br/>
    <label for="age">Age</label>
    <input type="number" th:field="*{age}" id="age" placeholder="Age">
    <br/>
    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email" placeholder="Email">
    <br/>
    <label for="password">Password</label>
    <input type="text" th:field="*{password}" id="password" placeholder="Password">
    <br/>
    <label for="roleUser">User</label>
    <input type="checkbox" th:field="*{roles}" id="roleUser" value="1" checked>
    <label for="roleAdmin">Admin</label>
    <input type="checkbox" th:field="*{roles}" id="roleAdmin" value="2" checked>
    <br/>
    <input type="submit" value="Submit changes">
</form>
<p><a href="/admin">Back</a></p>
<p><a href="/logout">Log Out</a></p>
</body>
</html>